{% extends "template.html" %}

    {% block code_block %}
    <div style="width: 600px; height: 410px; padding: 5px; margin-top: 50px; font-size: medium;" class="effect">
        <h3 style="color: rgb(106, 0, 177);"><b>What is Recommondation System ?</b></h3>
        <p>Recommendation Systems are simple algorithms that aim to provide the most relevant and accurate items (products, movies, events, articles) to the user (customers, visitors, app users, readers) by filtering useful stuff from a huge pool of information base. Recommendation engines discover data patterns in the data set by learning consumers’ choices and produces the outcomes that co-relates to their needs and interests.</p>
        <p>Types of Recommender System : </p>
        <p>1) Collaborative Recommender System.</p>
        <p>2) Content based Recommender System.</p>
        <p>3) Demographic based Recommender System.</p>
        <p>4) Utility based Recommender System.</p>
        <p>5) Knowledge based Recommender System.</p>

    </div>
    <div style="width: 600px; height: 300px; padding: 5px; margin-left: 650px; margin-top: 50px; font-size: medium;" class="effect">
            <h3 style="color: rgb(106, 0, 177);"><b>About My Project</b></h3>
            <p>Restaurant Recommendation System is a system used to recommend restaurant based on user's requirement like his/her location and Cuisine of his/her choice. It is filtering/Content based recommendation system. We have used the zomato data of banglore restaurants. This System requires User’s location within the Banglore city and the cuisine that user want to have and based on that recommend best restaurant to the user on the basis of the sentiment extracted from the previous reviews of the other users. This project also have some visualization graph to understand the data of restaurant.  </p>
    
        </div>

    {% endblock %}
